{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="container">
		{{ pagination.links }}
		<div class="table-responsive">
		  <table class="table table-hover">
			<thead>
			  <tr>
				<th style="text-align: center;">Product Name</th>
				<th style="text-align: center;">Product Description</th>
				<th style="text-align: center;">Product Price</th>
			  </tr>
			</thead>
			<tbody>
			  {% for product in products %}
			  <tr>
				<td><b>
					{{ product.name }}
					</b></td>
					<td>{{ product.description }}</td>
				<td>{{ product.price }}</td>
				<td><a href="/addToCart/{{product.id}}">Add to cart</a></td>
			  </tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
		{{ pagination.links }}
	  </div>
{% endblock content %}
